body {
  font-family: "Poppins", sans-serif !important;
  font-size: 0.875rem;
  background-color: #faf9fa;
  color: #454145;
}
.login-margin {
  padding-top: 100px;
}
.bg-dark {
  background: #4d186f !important;
}
.login-box {
  background: #4d186f;
  color: #fff;
  font-weight: 400;
}
.logo {
  width: 100px;
  margin: 0px auto;
}
.nav-logo{
    width: 80px;
}
.white-border {
  border-bottom: 1px solid;
}
.login-bg {
  background: url("../img/CRM\ Loginbg.jpg") no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background-size: cover;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.check-m {
  margin-left: -50px;
}
.input-group-icon {
  background: #290043;
  color: #fff;
  width: 40px;
}
.login-text {
  color: #a48eb3;
  font-weight: normal;
  /* font-size: 12px; */
}
.btn-light {
  color: #4d186f;
  font-weight: 600;
}
.login-box .form-control {
  background-color: #a48eb3;
}
.login-box .form-control::placeholder {
  color: #dad9da;
}
.top-100 {
  margin-top: 100px;
}
.navbar{
    padding: 0px;
}
.navbar-dark .homenavbar .nav-link {
    color: #e7e6e7;
    padding: 27px 15px;
    border-right: 1px solid #e7e6e7;
}
.left-border {
    border-left: 1px solid #e7e6e7;
}
.navbar-dark .navbar-nav .nav-link {
    color: #e7e6e7;
}
.navbar-dark .navbar-text {
  color: #e7e6e7;
}
.dark-section{
  background-color: #e7e6e7;
  width: 100%;
}
.light-section{
  background-color: #faf9fa;
  width: 100%;
}
.content{
  width: 90%;
  margin: 0px auto;
}
.text-span{
  color:#4d186f;
}
.light-text{
  color: #918f93;
}
.form-control::placeholder, .form-control option, .form-control{
  color: #918f93;
  font-size: 14px;
}
select.form-control{
  border: 1px solid #4d186f;
}
.form-control{
  border-radius: .15rem;
}
.style-input .form-control{
  border: 1px solid #4d186f;
}
hr{
  border-top: 1px solid #4d186f;
}
.RichTextEditor__root___2QXK-{
  width:100%;
  height: 200px;
}
.btn-primary {
  color: #fff;
  background-color: #4d186f;
  border-color: #4d186f;
  border-radius: 25px;
  padding: 7px 40px;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #74379a;
  border-color: #74379a;
}
.user-icon{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: 8px;
}
.nav-icon{
  font-size: 20px;
    padding-top: 14px;
}
footer{
  background: #4d186f;
  padding: 15px 0px;
  color: #fff;
}