body {
  font-family: "Poppins", sans-serif !important;
  font-size: 0.875rem;
  background-color: #faf9fa;
  color: #454145;
}
.login-margin {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.email-cont a, .table-hover tbody tr td a{
  color: #4d186f;
  text-decoration: none;
}
.bg-dark {
  background: #4d186f !important;
}
.login-box {
  background: #4d186f;
  color: #fff;
  font-weight: 400;
  padding: 10px 0px;
}
.logo {
  width: 100px;
  margin: 0px auto;
  padding: 15px 0px;
}
.nav-logo {
  width: 80px;
}
.white-border {
  border-bottom: 1px solid;
}
.login-bg {
  background: url("../img/CRM\ Loginbg.jpg") no-repeat;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background-size: cover;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.check-m {
  margin-left: -50px;
}
.input-group-icon {
  background: #290043;
  color: #fff;
  width: 40px;
}
.login-text {
  color: #a48eb3;
  font-weight: normal;
  /* font-size: 12px; */
}
.btn-light {
  color: #4d186f;
  font-weight: 600;
}
.login-box .form-control {
  background-color: #a48eb3;
}
.login-box .form-control::placeholder {
  color: #dad9da;
}
.top-100 {
  margin-top: 100px;
}
.navbar {
  padding: 0px;
}
.navbar-dark .homenavbar .nav-link {
  color: #e7e6e7;
  padding: 27px 15px;
  border-right: 1px solid #e7e6e7;
}
.left-border {
  border-left: 1px solid #e7e6e7;
}
.navbar-dark .navbar-nav .nav-link {
  color: #e7e6e7;
}
.navbar-dark .navbar-text {
  color: #e7e6e7;
}
.dark-section {
  background-color: #e7e6e7;
  width: 100%;
}
.light-section {
  background-color: #faf9fa;
  width: 100%;
}
.content {
  width: 90%;
  margin: 0px auto;
}
.text-span {
  color: #4d186f;
}
.light-text {
  color: #918f93;
}
.form-control::placeholder,
.form-control option,
.form-control {
  color: #212529;
  font-size: 14px;
}
select.form-control {
  border: 1px solid #4d186f;
}
.form-control {
  border-radius: 0.15rem;
}
.style-input .form-control {
  border: 1px solid #4d186f;
}
hr {
  border-top: 1px solid #4d186f;
}
.RichTextEditor__root___2QXK- {
  width: 100%;
  height: 200px;
}
.btn-primary {
  color: #fff;
  background-color: #4d186f;
  border-color: #4d186f;
  border-radius: 25px;
  padding: 7px 40px;
  font-weight: bold;
}
.bgprimary {
  color: #fff;
  background-color: #4d186f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #74379a !important;
  border-color: #74379a !important;
}
.user-icon {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-top: 8px;
}
.nav-icon {
  font-size: 20px;
  padding-top: 14px;
}
footer {
  background: #4d186f;
  padding: 15px 0px;
  color: #fff;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #d394fd;
}
.section-height {
  height: 560px;
}
.redspan {
  color: red;
}
.font-12 {
  font-size: 12px;
}
.pagination {
  float: right;
}
.chat-icon {
  width: 75px;
  height: 75px;
  background: #e7e6e7;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.card {
  border-radius: 0;
  border: 1px solid rgb(77 24 111);
}
.card-post:after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #4d186f;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.card-replay:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #4d186f;
}
.font-18 {
  font-size: 18px;
}
.createdby {
  margin-left: 15px;
  color: #a7a4a7;
}
.blue-brd {
  border: 1px solid #4d186f;
}
.blue-brd-top {
  border-top: 1px solid #4d186f;
}
.table-hover tbody tr:hover {
  color: #faf9fa !important;
  background-color: rgb(77 24 111);
}
.table-hover tbody tr:hover a{
  color: #fff !important;
  text-decoration: none;
}
.table-hover tbody tr td{
  word-wrap:break-word;
}
.h1{
  margin-bottom: .5rem;
    font-weight: 500;
    line-height: 2;
    font-size: 2.2rem;
    display: block;
}
.tox-tinymce{
  width: 100%;
}
.email-cont{
  background: #fff;
    padding: 20px 10px;
    box-shadow: 1px 0px 1px;
    border-radius: 10px;
    border-bottom: 2px solid #4d186f;
    line-height: 2;
}
.login-box .form-control:-webkit-autofill,
.login-box .form-control:-webkit-autofill:hover, 
.login-box .form-control:-webkit-autofill:focus, 
.login-box .form-control:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #a48eb3 inset !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border: 1px solid #4d186f;
  background: transparent;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.light-section .form-control{
  background: transparent;
  border: 1px solid #4d186f;
}
.dark-section .form-control{
  border: 1px solid #4d186f;
}
.page-link {
  color: #4d186f;
}
.page-item.active .page-link {
  background-color: #4d186f;
  border-color: #4d186f;
}
.blue-thead{
  background: #4d186f;
  color: #fff;
}
.signup{
  background: #290043;
  color: #fff;
  border: 0px;
}
.signup:hover{
  background-color: #a94be4;
}
.mt4{
    margin-top: 1.8rem!important;

}
.dropdown-item a{
  color:#212529;
}
.readonly{
  cursor: not-allowed;
  pointer-events: none;
}